
/* Designed by Hammad Siddiqui
   http://hammadsiddiqui.net
   Mobile First Approach 
*/

/* FONT Import */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@import url(https://fonts.googleapis.com/css?family=Pacifico);



/*Custom Checkbox Begin*/

label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #fafafa;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #fafafa;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #fafafa;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #fafafa;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #fafafa;
}

div[data-toggle="buttons"] label.active{
    color: #fafafa;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid
    #fafafa;
    border-radius: 3px;
    color: #fafafa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #fafafa;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}



/*Custom Checkbox End*/


body {
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

#splashScreen {
    border-bottom: 10px #483535 solid;
    padding-top: 50px;
    padding-bottom: 50px;
    background:rgba(0,0,0,.5) url('../img/img1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #56534c;
}

#breadImg {
    position: relative;
    bottom:-100px;
}

#getStarted {
    padding-top: 50px;
    padding-bottom: 50px;

    color: #56534c;
}

#getStarted p {
    margin-bottom: 50px;
    margin-top: 20px;
    font-weight:bold;
}


#getStarted h5 {
    color: #a47d5e;
}

#getStarted h4 {
    font-weight: bold;
}

#getStarted h1 {
    color: #56534c;
}

#appetite {
    border-bottom: 10px #483535 solid;
    padding-top: 200px;
    padding-bottom: 200px;
    background:rgba(0,0,0,.5) url('../img/appetite.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;
}

#food-list {
    height:200px;
    overflow:hidden;
    overflow-y:scroll;
    margin-top: 40px;
    list-style-type: none;
    color: #56534c;
}

.weightMeasure {
    size:12px;
    color: #333;
    width:350px;
}

.chzn-container .chzn-results .active-result {
    color: #333;
    cursor: pointer;
    display: list-item;
}

#exercise {

    padding-top: 50px;
    padding-bottom: 50px;
    background:rgba(0,0,0,.5) url('../img/excercise.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;
}

#exercise h1, #exercise h2 {
    margin-bottom: 35px;
    margin-top: 45px;
}

#letsGo {
    margin-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%px;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    background:url('../img/letsgo.png') 0px no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #56534c;
}
#letsGo p {
    margin-bottom: 50px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
	display: table;
}

.starter-template {
  padding: 40px 15px;
  text-align: right;
}

#social-icons {
  text-align: center;
}


#social-icons img {
	margin-left: 20px;
  text-align: right;
}

#main {
	margin-top:150px;
	color: #f9f9f9;
	vertical-align: center;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, .5);
    text-align: center;
}

.button {
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid #f9f9f9;
  padding:7px 50px;
  font-size: 16px;
 
}

.exerciseBtn {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 2px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}
.button2 {
    color: rgba(250, 250, 250, 1);
    box-shadow: rgba(250, 250, 250, 1) 0 0px 0px 2px inset;
}

.button2:hover {
    color:#fafafa;
    box-shadow: #a47d5e 0 80px 0px 2px inset;
}

.button2:active, .button2:visited {
    color:#fafafa;
}

.button3 {
    color: #a47d5e;
    box-shadow: #a47d5e 0 0px 0px 2px inset;
    border:none;
}

.button3:hover {
    color:#fafafa;
    box-shadow: #a47d5e 0 80px 0px 2px inset;

}
#results {
    color: #fafafa;
    background: #ecae35;
    padding-top: 50px;
    padding-bottom: 80px;
}
.bodyType {
    background: #fafafa;
    color: #a47d5e;
    height: auto;
    margin-top: 50px;
}

.bodyType img {
    margin-top: 50px;
    padding-bottom: 30px;
}

.cal-details {
    padding: 10px 0px;
    bottom: 0px;
    background: #a47d5e;
    color:#fafafa;
}

.values {
    font-size: 22px;
    font-weight: 600;
}
footer {
   padding-bottom: 20px;
}

footer a {
  color: #68655e;
  font-weight: bold;
  margin-left: 10px;

}

footer a:hover {
  text-decoration: none;
  color: #E27722;
}

footer p {
  color: #56534c;
  text-align: center;
  margin-top: 8px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    color: #fff;
}

.btn-outline:hover {
    background-color: #E27722;
    color: #fff;
    border: 2px solid #fff;
}


.imgalign {
 vertical-align: middle;
margin-left: 3px;
/* margin-right: 5px; */
margin-top: -5px;
}


.thin {
  font-weight: 100;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.pacifico {
 font-family: 'Pacifico', cursive;
 font-size: 50px;
 margin-bottom:10px; 
}

/*MEDIA QUERIES*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
#letsGo {
    width:440px;
    height:600px;
}
#main {
    text-align: center;
}



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #letsGo {
    width:440px;
    height:600px;
}

#main {
    text-align: center;
}



footer p {
  text-align: right;
}



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#letsGo {
    width:440px;
    height:600px;
}

#main {
    text-align: center;
}

#social-icons {
  text-align: right;
}

footer p {

  text-align: right;
}



}